# .gitignore

/var/
/vendor/
/node_modules/
.env
/public/bundles/
.env.local
.DS_Store
.idea/
.vscode/

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
